<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
        <div>
          <label for="firstname">firstname</label>
          <input
            type="text"
            id="firstname"
            class="form-control"
            name="firstname"
            ngModel
            required>
        <label for="lastname">lastname</label>
          <input
            type="text"
            id="lastname"
            class="form-control"
            name="lastname"
            ngModel
            required>
        <label for="gender">gender</label>
 		  <select [(ngModel)]="gender"  
			            type="text" 
			            id="gender"
			            class="form-control"
			            name="gender">
			<option *ngFor="let gender of genders" value= {{gender.value}}> {{gender.description}}
			</option>
		  </select>
            
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
